<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Movie page</title>
</head>
<body>

    <form method="post" enctype="multipart/form-data" action="{% url 'updatemovie' movie_id=movie_id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
    
    <a href="{% url 'Login_home' %}">Login Home</a>
    
</body>
</html>